.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.chart-box {
  margin-top: 30px;
  padding: 40px;
  background: white;
  border-radius: 10px;
}
