.sidebar {
  width: 230px;
  background: #1f2a44;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar button {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  background: #2d3c61;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}
